body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  min-height: 100vh;
  color: Ivory;
  font-family: 'Baskerville';
}

.content {
  height: 400px;
  width: 500px;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  background-color: rgb(23, 135, 65);
  align-items: center;
  justify-content: center;
}

.scoreboard {
  display: flex;
  gap: 100px;
}

.player,
.computer {
  font-size: 42px;
  font-weight: 700;
  text-align: center;
}

.score {
  font-size: 72px;
}
