body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  min-height: 100vh;
  color: Ivory;
  font-family: 'Baskerville';
}

.content {
  height: 400px;
  width: 500px;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  background-color: rgb(23, 135, 65);
}

.round {
  text-align: center;
  margin-top: 30px;
  font-size: 30px;
  font-weight: 500;
}

.scoreboard {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
}

.player,
.computer {
  font-size: 42px;
  font-weight: 700;
  text-align: center;
}

.score {
  font-size: 72px;
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-left: 75px;
  margin-right: 75px;
}

button {
  background-color: ivory;
  color: rgb(23, 135, 65);
  padding: 10px 25px;
  font-size: 20px;
  font-family: 'Helvetica';
  font-weight: 700;
  border: 0;
  border-radius: 12px;
}
